body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
h1,
h2 {
  margin: 0;
}
.widget {
  color: whitesmoke;
  text-align: center;
  background-color: brown;
  border-style: dotted;
  border-width: 5px;
  margin: 30px;
  font-size: 50px;
  padding: 5px;
}
